
.main {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-left: 298px;
}

.main #heading-content {
    min-height: 100px;
    font-weight: 700;
}

#heading-content h3 {
    display: inline-block;
    padding: 36px 20px;
}

#heading-content .add-task-icon{ 
    width: 128px;
    height: 42px;
    background-color: #50FD81;
    padding: 12px 20px;
    /* border-radius: 25px; */
}

#heading-content .add-task-icon:hover{ 
    background-color: #FD5050;
    color: #FFFFFF;
}

.main #table-content {
    height: 90vh;
    text-align: center;
}

#table-content table{
    display: inline-block;
}

/* #table-content table thead{ */
    /* border: 0px solid; */
    /* background-color: #F3F4F6; */
/* } */

#table-content th, 
#table-content td {
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

#table-content tr {
    border: 1px solid rgb(0, 0, 0, 0.1);
}

#pagination {
    /* width: 120vh; */
    text-align: center;
}

#pagination ul {
    display: inline-block;
}

#pagination ul li {
    font-weight: bold;
    display: inline;
    margin-left: 6px;
    padding: 11px 0 11px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0, 0.2);
}

#pagination ul li:hover {
    background-color: black;
    color: #FFFFFF;
}

#pagination ul li > a {
    padding: 11px 16px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    display: flex;
}

.modal-container {
    background-color: #6de65d;
    width: 300px;
    min-height: 200px;
    border-radius: 24px;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    margin-top: 30px;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.modal-body {
    text-align: center;
}

.modal-body h2 {
    color: #FFFFFF;
}

#modal-btn {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 28px;
    border-radius: 24px;
    background-color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    color: #009100;
}

#modal-btn:hover {
    opacity: 0.8;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}